# Virtual environment
.venv/
env/
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.pkl

# Environment files
.env
*.env

# Byte-compiled / optimized / DLL files
*.dll
*.so
*.dylib

# Logs & databases
*.log
*.sqlite3
*.db

# VS Code / IDE
.vscode/
.idea/
*.swp
*.swo

# OS-specific
.DS_Store
Thumbs.db

pyspark-*.tar.gz